<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Email-Notifier</title>
  </head>
  <style>
    .card{
      height: 70vh;
    }
    .read{
      margin-top: 75px;
      margin-left: 40% !important;
    }
  </style>
  <body class="bg-success">
    <h1 class="text-center m-5 text-warning">{{s}}</h1>
      
    <div class="row m-5">
        <div class="col-sm-6">
          <div class="card bg-secondary">
            <div class="card-body text-center">
              <h1 class="mb-5 mt-2 text-primary">Want to send a message...</h1>
              <form action='/send' method="post">{% csrf_token %}
                <div class="form-group row container">
                    <input type="email" class="form-control" id="inputemail" placeholder="Send to" name="send_to">
                </div>
                <div class="form-group row container">
                      <input type="text" class="form-control" id="subject" placeholder="Enter your subject" name="subject">
                </div>
                <div class="form-group row container">
                      <textarea id="Message" class="form-control" cols="32" rows="6" placeholder="Enter your message here..." name="message"></textarea>
                </div>
                <input type="Submit" class = "btn btn-primary" placeholder="Send">
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center text-primary mt-5 mb-3">Want to read a message...</h1>
              <h4 class="text-center mb-5">{{s}}</h4>
              <form action="/recieve">{% csrf_token %}
                <button class="btn btn-success read">Read message</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>